body, .jumbotron{
    background: rgb(251,251,255);
    background: linear-gradient(90deg, rgba(251,251,255,1) 0%, rgba(32,86,227,1) 51%);
}
.msg{
    font-size: 12px;
    display: block-inline;
    margin-bottom: 20px;
    margin-right:20px;
    display: none;
}
.int_msg{
    margin-right: 50px;
    margin-left: 9px;
}
input{
    margin-left: 10px;
}
.badge-link{
    margin: 30px auto;
    text-align: center;
}
.card{
    border: 2px solid black;
    margin: auto;
    margin-top: 30px;
    border-radius: 55px;
}
.option{
    text-align: center;
}

a{
    color: black;
}
a:hover{
    color: white;
    font-size: larger;
}